
<div>
  <ul>
    <label> ID: </label>
    <input *ngIf="formMode==1" type="text" [(ngModel)]="EmployeeData.idNumber" (ngModelChange)="checkId()"/>
    <label *ngIf="idErrorMsg"> {{idErrorMsg}} </label>
  </ul>
  <ul>
    <label>Name</label>
    <input type="text" [(ngModel)]="EmployeeData.name"/>
  </ul>
  <ul>
    <label>Role</label>
    <select [(ngModel)]="EmployeeData.role">
      <option *ngFor="let role of roleList">
        {{role.name}}
      </option>
    </select>
  </ul>
  <ul>
    <label>Manager Name</label>
    <input type="text" [(ngModel)]="managerName"/>
  </ul>
  <ul>
    <button (click)="Cancel()" >Cancel</button>
    <button (click)="updateEmployee(EmployeeData)" >{{btnText}}</button>
  </ul>

</div>

